name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        addon: [unbound]
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: home-assistant/builder@master
        with:
          args: |
            --amd64 \
            --aarch64 \
            --target ${{ matrix.addon }} \
            --docker-hub ghcr.io/fenio
        env:
          CAS_API_KEY: ${{ secrets.GITHUB_TOKEN }}
